
.vs/MrPurple6411 Subnautica Mods/v16/.suo
.vs/MrPurple6411 Subnautica Mods/v16/Server/sqlite3/db.lock
.vs/MrPurple6411 Subnautica Mods/v16/Server/sqlite3/storage.ide
QMods/BuilderModule/Assets/BuilderModule.png
QMods/BuilderModule/BuilderModule.dll
QMods/BuilderModule/mod.json
QMods/MoreSeamothDepth/mod.json
QMods/MoreSeamothDepth/MoreSeamothDepth.dll
QMods/NoEatingSounds/mod.json
QMods/NoEatingSounds/NoEatingSounds.dll
QMods/NoOxygenWarnings/mod.json
QMods/NoOxygenWarnings/NoOxygenWarnings.dll
QMods/ResourceOverload/mod.json
QMods/ResourceOverload/ResourceOverload.dll
QMods/SaveTheSunbeam/mod.json
QMods/SaveTheSunbeam/SaveTheSunbeam.dll
QMods/SeamothClawArm/Assets/SeamothClawModule.png
QMods/SeamothClawArm/mod.json
QMods/SeamothClawArm/SeamothClawArm.dll
QMods/SeamothDrillArm/Assets/SeamothDrillModule.png
QMods/SeamothDrillArm/mod.json
QMods/SeamothDrillArm/SeamothDrillArm.dll
QMods/SeamothThermal/mod.json
QMods/SeamothThermal/SeamothThermal.dll
BuilderModule/obj/Release/BuilderModule.csproj.CoreCompileInputs.cache
BuilderModule/obj/Release/BuilderModule.csproj.FileListAbsolute.txt
BuilderModule/obj/Release/BuilderModule.csprojAssemblyReference.cache
BuilderModule/obj/Release/BuilderModule.dll
MoreSeamothDepth/obj/Release/MoreSeamothDepth.csproj.CoreCompileInputs.cache
MoreSeamothDepth/obj/Release/MoreSeamothDepth.csproj.FileListAbsolute.txt
MoreSeamothDepth/obj/Release/MoreSeamothDepth.csprojAssemblyReference.cache
MoreSeamothDepth/obj/Release/MoreSeamothDepth.dll
NoEatingSounds/obj/Release/NoEatingSounds.csproj.CoreCompileInputs.cache
NoEatingSounds/obj/Release/NoEatingSounds.csproj.FileListAbsolute.txt
NoEatingSounds/obj/Release/NoEatingSounds.csprojAssemblyReference.cache
NoEatingSounds/obj/Release/NoEatingSounds.dll
NoOxygenWarnings/obj/Release/NoOxygenWarnings.csproj.CoreCompileInputs.cache
NoOxygenWarnings/obj/Release/NoOxygenWarnings.csproj.FileListAbsolute.txt
NoOxygenWarnings/obj/Release/NoOxygenWarnings.csprojAssemblyReference.cache
NoOxygenWarnings/obj/Release/NoOxygenWarnings.dll
ResourceOverload/obj/Release/ResourceOverload.csproj.CoreCompileInputs.cache
ResourceOverload/obj/Release/ResourceOverload.csproj.FileListAbsolute.txt
ResourceOverload/obj/Release/ResourceOverload.csprojAssemblyReference.cache
ResourceOverload/obj/Release/ResourceOverload.dll
SaveTheSunbeam/obj/Release/SaveTheSunbeam.csproj.CoreCompileInputs.cache
SaveTheSunbeam/obj/Release/SaveTheSunbeam.csproj.FileListAbsolute.txt
SaveTheSunbeam/obj/Release/SaveTheSunbeam.dll
SeamothClawArm/obj/Release/SeamothClawArm.csproj.CoreCompileInputs.cache
SeamothClawArm/obj/Release/SeamothClawArm.csproj.FileListAbsolute.txt
SeamothClawArm/obj/Release/SeamothClawArm.csprojAssemblyReference.cache
SeamothClawArm/obj/Release/SeamothClawArm.dll
SeamothDrillArm/obj/Release/SeamothDrillArm.csproj.CoreCompileInputs.cache
SeamothDrillArm/obj/Release/SeamothDrillArm.csproj.FileListAbsolute.txt
SeamothDrillArm/obj/Release/SeamothDrillArm.dll
SeamothThermal/obj/Release/SeamothThermal.csproj.CoreCompileInputs.cache
SeamothThermal/obj/Release/SeamothThermal.csproj.FileListAbsolute.txt
SeamothThermal/obj/Release/SeamothThermal.csprojAssemblyReference.cache
SeamothThermal/obj/Release/SeamothThermal.dll
