--- 
--- 
@import "minima";


.wrapper {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    align-self: center;
}

.site-title,
.site-title:visited {
    color: indigo;
}

.site-nav .page-link,
.site-nav .page-link:visited {
    color: indigo;
}

.site-header,
.site-footer {
    background-color: black;
    border-bottom: #666;
    border-top: #666;
}

body {
    background-color: #666;
}

.mod {
    border: 2px solid white;
    align-content: center;
    text-align: center;
    width: max-content;
    height: fit-content;
    color: indigo;
    background-color: black;
}

.mods {
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    border-radius: 25px;
    align-content: center;
    text-align: center;
    width: 100%;
    height: fit-content;
    color: indigo;
    background-color: black;
}

.mod-title{
    margin: 5px;
}

.mod-image {
    min-width: 128px;
    max-width: 100%;
    min-height: 128px;
    max-height: 35vh;
}

.mod-download {
    margin: 5px;
    color: indigo;
}

.mod-download:visited {
    color: hotpink;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;

    width: max-content;
    max-width: 25vw;
    left: 100%;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}